.apg-mentions {
  @apply inline-block whitespace-pre-wrap overflow-hidden text-white;
}
.apg-mentions > textarea,
.apg-mentions-measure {
  @apply m-0 p-0;
  word-wrap: break-word;
}
.apg-mentions > textarea {
  @apply w-full border-0 bg-transparent h-full outline-none;
}
.apg-mentions-measure {
  @apply absolute pointer-events-none text-transparent z-[-1] inset-0;
}
.apg-mentions-dropdown {
  @apply absolute border-none rounded-md overflow-hidden p-1;
}
.apg-mentions-dropdown-menu {
  @apply m-0 p-0 rounded-md overflow-y-auto max-h-[400px];
  list-style: none;
}
.apg-mentions-dropdown-menu-item {
  @apply cursor-pointer px-2 py-1;
}
.apg-mentions-dropdown {
  @apply bg-black-900
}
.apg-mentions-dropdown-menu-item-active {
  @apply bg-black-700
}
.apg-mentions-dropdown-menu-item-disabled {
  @apply opacity-50;
}

.dynamic-option {
  @apply flex gap-2 px-4 py-3 text-base text-white;
}

::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 4px;
}

.apg-mentions-dropdown ::-webkit-scrollbar-thumb {
  visibility: visible;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  min-height: 40px;
  border-radius: 4px;

  @apply bg-black-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black-600;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;

  @apply bg-black-800;
}

.mention {
  @apply no-underline text-aqua;
}