@layer utilities {
  .line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .line-clamp-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .box {
    display: -webkit-box;
  }

  .left-\[46px\] {
    left: 46px
  }

  .left-\[72px\] {
    left: 72px
  }

  .left-\[275px\] {
    left: 275px
  }
}
