{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true
      }
    ]
  ],
  "overrides": [
    {
      "test": "./node_modules/tailwind-merge",
      "presets": []
    }
  ]
}
