body {
  margin: 0;
  line-height: inherit;
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 118 209 / var(--tw-bg-opacity));
}

.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(160 222 255 / var(--tw-bg-opacity));
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(135 199 255 / var(--tw-bg-opacity));
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(110 178 255 / var(--tw-bg-opacity));
}